# Prerequisites
*.d

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.opensdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Directories
Debug/
Release/
.vs/
.idea
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-feb4c001f1dfa2a35fdc.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.31.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-08f94c334a0afad9da99.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.31.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-470fe81fead49235daac.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-04-21T21-34-56-0873.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-MapleEzorsia_v2-Debug-26c59f9e12797a102417.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-b7ec2a33a4830cceca1e.json
/cmake-build-build/ALL_BUILD.vcxproj
/cmake-build-build/ALL_BUILD.vcxproj.filters
/cmake-build-build/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4c7fb92db72ea8e289da.json
/cmake-build-build/.cmake/api/v1/reply/cache-v2-de5abed73931efc9899d.json
/cmake-build-build/CMakeFiles/clion-Build-log.txt
/cmake-build-build/CMakeFiles/clion-environment.txt
/cmake-build-build/CMakeFiles/cmake.check_cache
/cmake-build-build/cmake_install.cmake
/cmake-build-build/CMakeCache.txt
/cmake-build-build/CMakeFiles/3.31.6/CMakeCCompiler.cmake
/cmake-build-build/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-build/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-build/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
/cmake-build-build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-build/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-build/.cmake/api/v1/reply/cmakeFiles-v1-8da444881b53d5658ab7.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-caaca68296699df45464.json
/cmake-build-build/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
/cmake-build-build/CMakeFiles/3.31.6/CMakeSystem.cmake
/cmake-build-build/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-51508cf966167b3f5256.json
/cmake-build-build/.cmake/api/v1/reply/codemodel-v2-aff364e10ef03c171a1f.json
/cmake-build-build/CMakeFiles/3.31.6/CompilerIdC/CompilerIdC.vcxproj
/cmake-build-build/CMakeFiles/3.31.6/CompilerIdCXX/CompilerIdCXX.vcxproj
/cmake-build-build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
/cmake-build-build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
/cmake-build-build/CMakeFiles/generate.stamp
/cmake-build-build/CMakeFiles/generate.stamp.depend
/cmake-build-build/CMakeFiles/generate.stamp.list
/cmake-build-build/CMakeFiles/7c8576a3bc1388e59db6f3f952df6f9b/generate.stamp.rule
/cmake-build-build/.cmake/api/v1/reply/index-2025-04-21T21-47-51-0879.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-04-21T21-47-51-0998.json
/cmake-build-build/Testing/Temporary/LastTest.log
/cmake-build-build/MapleDLLGeneration.sln
/cmake-build-build/MapleEzorsia_v2.sln
/cmake-build-build/MapleEzorsia_v2.vcxproj
/cmake-build-build/MapleEzorsia_v2.vcxproj.filters
/cmake-build-build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-8fc32989c3d4af8bcb97.json
/cmake-build-build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-8fc32989c3d4af8bcb97.json
/cmake-build-build/.cmake/api/v1/reply/target-ALL_BUILD-Release-8fc32989c3d4af8bcb97.json
/cmake-build-build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-8fc32989c3d4af8bcb97.json
/cmake-build-debug/.cmake/api/v1/reply/target-MapleEzorsia_v2-Debug-6b2e5038ff838cda2f5b.json
/cmake-build-build/.cmake/api/v1/reply/target-MapleEzorsia_v2-Debug-ae6bff0c86570726038e.json
/cmake-build-build/.cmake/api/v1/reply/target-MapleEzorsia_v2-MinSizeRel-c6839fec12897f7cf547.json
/cmake-build-build/.cmake/api/v1/reply/target-MapleEzorsia_v2-Release-b8f64abc98044610e3b0.json
/cmake-build-build/.cmake/api/v1/reply/target-MapleEzorsia_v2-RelWithDebInfo-4e0ccce862701b152fa7.json
/cmake-build-build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-bb66dba1dc1b34ad192d.json
/cmake-build-build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-bb66dba1dc1b34ad192d.json
/cmake-build-build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-bb66dba1dc1b34ad192d.json
/cmake-build-build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-bb66dba1dc1b34ad192d.json
/cmake-build-build/CMakeFiles/TargetDirectories.txt
/cmake-build-build/.cmake/api/v1/query/toolchains-v1
/cmake-build-build/.cmake/api/v1/reply/toolchains-v1-494e860a2f1058e7a1f8.json
/cmake-build-build/CMakeFiles/3.31.6/VCTargetsPath.txt
/cmake-build-build/CMakeFiles/3.31.6/VCTargetsPath.vcxproj
/cmake-build-build/ZERO_CHECK.vcxproj
/cmake-build-build/ZERO_CHECK.vcxproj.filters
